<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/data.css">
    <script>
        var username = '{{username}}';
    </script>
    <script src="/static/analytics.js"></script>
    <title>Document</title>
</head>
<body>
    <div id = 'habits-list'> </div>
    
    <div class = "errands-matrix">
        <div class="done-list">
            <h3>done</h3>
            <ul id = 'errands-done-list'> </ul>
        </div>

        
        <div class = "notdone-list">
            <h3>not done</h3>
            <ul id = 'errands-not-done-list'> </ul>
        </div>

        
    </div>
    <button onClick = "backHome()" class = "back-button"> back</button>
</body>
<script> 
    addErrands('{{start}}' , '{{end}}');
    addHabits('{{start}}' , '{{end}}');

</script>
</html>