<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/data.css">
    <script>
        var username = '{{username}}';
    </script>
    <script src="/static/analytics.js"></script>
    <title>Document</title>
</head>
<body>
    <div id = 'habits-list'>

    </div>
    <div class =  'data-matrix'>
        <div id = "errands-matrix">
            <h1>done</h1>
            <ul id = 'errands-done-list'>

            </ul>
            <h1>not done</h1>
            <ul id = 'errands-not-done-list'>

            </ul>
        </div>
    </div>
    <button onClick = "backHome()" class = "back-button"> back</button>
</body>
<script> 
    addErrands('{{start}}' , '{{end}}');
    addHabits('{{start}}' , '{{end}}');

</script>
</html>