<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src='https://cdn.jsdelivr.net/npm/@fullcalendar/core@6.1.11/index.global.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@6.1.11/index.global.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@6.1.11/index.global.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@6.1.11/index.global.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/list@6.1.11/index.global.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/multimonth@6.1.11/index.global.min.js"></script>

    
    <script>
        var calender;
        var username = "{{username}}";
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            calendarEl.id = 'myCalendar'; // Assign id attribute
            calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'timeGridWeek', // Change to weekly view
            // Set the date range to the current week
            editable: true, // Enable drag-and-drop
            eventDrop: function(info) {
                // When an event is dropped (i.e., its location is changed)
                // You can access the event information from the 'info' object
                var title = info.event.title;
                var eventId = info.event.id; // Get the event ID
                var newStart = info.event.start; // Get the new start date/time
                var newEnd = info.event.end; // Get the new end date/time

                var utcStart = formatDate(newStart);
                var utcEnd = formatDate(newEnd);
                var payload = {
                    id: eventId,
                    title: title,
                    start: utcStart,
                    end: utcEnd
                };
                console.log(payload)
                fetch(`/update/${username}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(payload)
                })
                .then(response => {
                    console.log(response)
                })
                .catch(error => {
                    console.error('Error:', error);
                });
                
            },
            eventOverlap: false, // Prevent events from overlapping
            initialDate: new Date(), // Start from today
            nowIndicator: true, // Show current time indicator
            events: [],
            scrollTime: '09:00',
            slotMinTime: '08:00:00', // Set the earliest visible time (e.g., 8 AM)
            slotMaxTime: '22:00:00', // Set the latest visible time (e.g., 6 PM)
            viewDidMount: function(view) {
                console.log('Calendar view is rendered');
                calendar.getEvents().forEach(function(event) {
                    event.remove();
                });

                addEvents();
            },
            headerToolbar: {
                left: 'prev,next today', // Add buttons for previous, next, and today
                center: 'title', // Add title to the center
                right: 'dayGridMonth,timeGridWeek,timeGridDay' // Add buttons for different views
            }
            
            });
            calendar.render();
        });

    </script>
    <style>
        /* Include any additional inline styles here */
        #createform {
            display: none;
        }
        #editform{
            display: none;
        }
    </style>
    
</head>
<body>
    <header>
        <h2 class = "welcome">{{username}}</h2>
        <a href="/" class = "logout-button">log out</a>
    </header>
    <main>
        <!-- Form for creating new tasks -->
        <form action="/create/{{username}}" class="create" id="createform" style="display: none;">
            <div class = "welcome">Add New Task</div>
            <div class = "buttons - a">
                <button class = "y" onclick="toggleCreate(event ,'errand')">errand</button>
                <button class ="y" onclick="toggleCreate(event ,'routine')">routine</button>
                <button class = "y" onclick="toggleCreate(event , 'habit')">habit</button>
            </div>
            <input type="text" name="title" placeholder="task title">
            <input type="datetime-local" name = "start" placeholder="start time"> 
            <input type="datetime-local" name = "end" placeholder="end time"> 
            <input type="submit">
        </form>
        
        <form action="/edit/{{username}}" class="edit" id="editform" style="display: none;">
            <div class = "welcome">Edit Task</div>
            <input type="text" name="title" placeholder="task title">
            <input type="datetime-local" name = "start" placeholder="start time"> 
            <input type="datetime-local" name = "end" placeholder="end time"> 
            <input type="hidden" name ="id"> 
            <input type="submit">
        </form>
        <!-- Button to toggle the form visibility -->
        <div class="line">
            <button onclick="toggleForm()" class="create-button"></button>
        </div>

        <!-- Task list container -->
        <div class="tasklist" id="mydiv">
            <!-- Iterate over tasks and display them -->
            {% for task in tasks %}
                {% if task.done == 0 %}
                    <div class="taskrow" id="task{{task.id}}">
                        <!-- Button to mark task as done -->
                        <!-- Task details -->
                        <object class="task-title"> {{task.title}} </object>
                        <object class="task-start">{{task.start}}</object>
                        <object class="task-end">{{task.end}}</object>
                        <button onclick="toggleEdit({{task.id}})" class = "edit-button"> edit </button>
                        <button class = "delete-button" onclick="deleteTask({{task.id}})"> delete</button>
                        <button class="done-button" onclick="done({{task.id}},'{{username}}')"> </button>
                    </div>
                {% endif %}
            {% endfor %}
            <div id='calendar'></div>
        </div>
    </main>
</body>
<script>
    function toggleForm() {
        var form = document.getElementById("createform");
        if (form.style.display == "block"){
            form.style.display = "none"
        }
        else{
            form.style.display = "block"
        }
    }

    function done(task_id , username) {
        var task = document.getElementById(`task${task_id}`);
        task.style.opacity = "0.3";
    
        fetch(`/done/${task_id}/${username}`)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                // Remove the task row from the DOM after a delay
                setTimeout (function(){
                    console.log('Task marked as done successfully');
                    task.remove();
                }, 3000); // 3000 milliseconds = 3 seconds
            })
            .catch(error => {
                console.error('There was a problem with your fetch operation:', error);
            });
    }
    function toggleEdit(id){
        var editForm = document.getElementById("editform");
        if(editForm.style.display == "none"){
            editForm.style.display = "block";
                    fetch(`/api/task/${id}`)
                        .then(response => response.json())
                        .then (task => {
                            editForm.elements['title'].value = task.title;
                            editForm.elements['start'].value = task.start;
                            editForm.elements['end'].value = task.end;
                            editForm.elements['id'].value = id;
                        })
                        .catch(error => console.error('Error fetching task details:', error));  
                    }
                    else{
                        editForm.style.display = "none";
                    }
                       
    }
  
  // Function to add a new event
  function addEvent(id ,title, start, end) {
      // Create a new event object
      var newEvent = {
          title: title,
          start: start,
          end: end,
          id : id 
      }
  
      var addedEvent = calendar.addEvent(newEvent);
    return addedEvent;
  }
  function addEvents() {
    getTasks()
        .then(tasks => {
            console.log("Tasks:", tasks);
            tasks.map(task =>{
                addEvent(id = task.id ,title = task.title , start = task.start , end = task.end)
            })
        })
        .catch(error => console.error('Error fetching tasks:', error));
}

function getTasks() {
    return fetch(`/api/tasks/${username}`)
        .then(response => response.json())
        .then(tasks => { 
            var events = tasks.map(task => ({
                title: task.title,
                start: task.start,
                end: task.end,
                id : task.id,
            }));
            return events;
        })
        .catch(error => {
            console.error('Error fetching task details:', error);
            throw error; // Propagate the error to the caller
        });
}
function deleteTask(task_id){
    fetch(`/delete/${username}/${task_id}`)
    .then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        location.reload();
    })
    .catch(error => {
        console.error('There was a problem with your fetch operation:', error);
    });
}
function formatDate(dateString) {
    // Parse the date string into a Date object
    var date = new Date(dateString);

    // Extract date components
    var year = date.getFullYear();
    var month = ('0' + (date.getMonth() + 1)).slice(-2); // Add leading zero if needed
    var day = ('0' + date.getDate()).slice(-2); // Add leading zero if needed
    var hours = ('0' + date.getHours()).slice(-2); // Add leading zero if needed
    var minutes = ('0' + date.getMinutes()).slice(-2); // Add leading zero if needed

    // Construct the formatted date string
    var formattedDate = year + '-' + month + '-' + day + 'T' + hours + ':' + minutes;

    return formattedDate;
}
function toggleCreate(event, type) {
    event.preventDefault();
    
    var form = document.getElementById("createform");

    // Remove all children elements from the form
    while (form.firstChild) {
        form.removeChild(form.firstChild);
    }
    // Get a reference to the form
var form = document.getElementById("createform");

// Create a div for the welcome message
var welcomeDiv = document.createElement("div");
welcomeDiv.className = "welcome";
welcomeDiv.textContent = "Add New Task";
form.appendChild(welcomeDiv);

// Create a div for the buttons
var buttonsDiv = document.createElement("div");
buttonsDiv.className = "buttons - a";
form.appendChild(buttonsDiv);

// Create buttons for errand, routine, and habit
var errandButton = document.createElement("button");
errandButton.className = "y";
errandButton.textContent = "errand";
errandButton.onclick = function(event) {
    toggleCreate(event, "errand");
};
buttonsDiv.appendChild(errandButton);

var routineButton = document.createElement("button");
routineButton.className = "y";
routineButton.textContent = "routine";
routineButton.onclick = function(event) {
    toggleCreate(event, "routine");
};
buttonsDiv.appendChild(routineButton);

var habitButton = document.createElement("button");
habitButton.className = "y";
habitButton.textContent = "habit";
habitButton.onclick = function(event) {
    toggleCreate(event, "habit");
};
buttonsDiv.appendChild(habitButton);

// Create input for task title
var titleInput = document.createElement("input");
titleInput.type = "text";
titleInput.name = "title";
titleInput.placeholder = "task title";


// Create input for start time
var startInput = document.createElement("input");
startInput.type = "datetime-local";
startInput.name = "start";
startInput.placeholder = "start time";

// Create input for end time
var endInput = document.createElement("input");
endInput.type = "datetime-local";
endInput.name = "end";
endInput.placeholder = "end time";


// Create submit button
var submitButton = document.createElement("input");
submitButton.type = "submit";

// Get a reference to the form
var form = document.getElementById("createform");

// Create hidden input fields for errand, routine, and habit
var errandInput = document.createElement("input");
errandInput.type = "hidden";
errandInput.name = "taskType";
errandInput.value = "errand";


var routineInput = document.createElement("input");
routineInput.type = "hidden";
routineInput.name = "taskType";
routineInput.value = "routine";


var habitInput = document.createElement("input");
habitInput.type = "hidden";
habitInput.name = "taskType";
habitInput.value = "habit";


    // Add a new input element based on the type
    if (type === "errand") {
        form.appendChild(titleInput);
        form.appendChild(submitButton);
        form.appendChild(errandInput);
    }
    else{
        form.appendChild(titleInput);
        form.appendChild(startInput);
        form.appendChild(endInput);
        form.appendChild(submitButton);
        if(type === 'routine'){
            form.appendChild(routineInput);
        }else{
            form.appendChild(habitInput);
        }

    }

}



</script>
</html>
